body {
  padding-top: 60px;
  background-color: #ffffff;
}
.header .navbar-default {
  background-color: #3c7180;
  border: 0px;
}
.header .navbar-default .navbar-brand {
  color: #ffffff;
}
.header .navbar-default .navbar-brand:hover {
  color: #ffffff;
}
.header .navbar-default .navbar-collapse {
  width: 50px;
}
.header .navbar-default .navbar-form,
.header .navbar-default .navbar-collapse {
  box-shadow: 0px;
  border: 0px;
}
.header .navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.header .navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
}
.header .nav > li > a {
  padding: 5px 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica;
}
.cell {
  margin: 15px 0px 0px;
  background-color: #f8f8f8;
}
.cell .title {
  padding: 10px 10px 5px;
  position: relative;
  border-left: 2px solid #e8e8e8;
  border-right: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
}
.cell .title h3 {
  font-size: 11px;
  color: #4E363A;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  padding-top: 5px;
}
.cell .title h6 {
  color: #444;
  font-size: 9px;
  font-weight: bolder;
  margin: 0;
  text-align: right;
  padding-top: 5px;
}
.book-img .thumbnail {
  display: block;
  margin: 0px;
  padding: 2px;
  border: 0px;
}
.book-img img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.book-img .img-animate {
  opacity: 0.1;
  width: 30%;
  transition: all 5ms ease;
  -moz-transition: all 5ms ease;
  -webkit-transition: all 5ms ease;
}
.description {
  padding: 0px;
}
.description p {
  color: #333;
  font-family: helvetica;
  font-size: 10px;
  line-height: 15px;
  margin: 5px 0px;
  padding-top: 5px;
}
.searchArea form {
  text-align: right;
  padding-right: 75px;
}
.nav-right {
  padding-right: 200px;
}
.more {
  color: #db8009;
  font-size: 12px;
  font-weight: bold;
  padding-left: 4px;
}
.more:hover {
  color: #c66b2b;
  text-decoration: none;
  cursor: pointer;
}
.tab {
  border-bottom: 2px solid #e8e8e8;
  border-left: 2px solid #e8e8e8;
  border-right: 2px solid #e8e8e8;
  padding: 5px;
}
.tab .row {
  margin: 0px;
}
.tab .download {
  border-right: 3px solid #cc8f15;
  float: left;
  width: 55%;
}
.tab .details {
  float: right;
}
h2,
h3 {
  color: #333;
}
.modal-body h1 {
  color: #dd5616;
  font-size: 25px;
  margin: 0;
}
.modal-body h2 {
  font-size: 20px;
}
.modal-body h3 {
  font-size: 17px;
  margin: 0px;
  padding-top: 10px;
}
.modal-body h4 {
  color: #c06828;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 5px 0 5px 50px;
}
.modal-body > a {
  padding-top: 10px;
}
.modal-body p {
  font-family: helvetica;
  font-size: 12px;
  margin: 0;
  padding-bottom: 5px;
}
.button-color .button-primary {
  background-color: #3ca307;
}
.button-color .button-primary:hover {
  background-color: #cc8f15;
  border-color: #cc8f15;
}
.button-color .button-primary:active {
  background-color: #cc8f15;
  border-color: #cc8f15;
}
.content .col-sm-2 {
  width: 19.667%;
}
@media (max-width: 768px) {
  .content .col-xs-4 {
    width: 32.333%;
  }
}
@media (max-width: 360px) {
  .content .col-xs-4 {
    width: 100%;
  }
}
